{% load static %}
<footer>
    <img src="{% static "img/logo.png" %}" width="80">
    <ul>
        <li><a href="https://www.flaticon.es/icono-gratis/foto_2983067">Diseñado por Flaticon</a></li>
        <li><a href="https://www.flaticon.es/icono-gratis/foto_2983067">Diseñado por Flaticon</a></li>
        <li><a href="https://www.flaticon.es/icono-gratis/foto_2983067">Diseñado por Flaticon</a></li>
    </ul>
    <ul>
        <li><a href="{% url "index" %}">Inicio</a></li>
        <li><a href="{% url "portfolio" %}">Portfolio</a></li>
        <li><a href="Https://instagram.com">Instagram</a></li>
    </ul>
    <ul>
        <li><a href="https://www.flaticon.es/icono-gratis/foto_2983067">Diseñado por Flaticon</a></li>
        <li><a href="https://www.flaticon.es/icono-gratis/foto_2983067">Diseñado por Flaticon</a></li>
        <li><a href="https://www.flaticon.es/icono-gratis/foto_2983067">Diseñado por Flaticon</a></li>
    </ul>
</footer>